node-red-data/.flows.json.backup
[
    {
        "id": "1dd7f151915a547d",
        "type": "tab",
        "label": "Sensing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5765d2042467176e",
        "type": "tab",
        "label": "Acting",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e6ec7d666e24030",
        "type": "tab",
        "label": "Grid",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a45ccd334f47670",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mqtt://mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "63674aae2afeddaf",
        "type": "inject",
        "z": "1dd7f151915a547d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 70,
        "y": 320,
        "wires": [
            [
                "859b90ee91177e65"
            ]
        ]
    },
    {
        "id": "b07288c1fb3ce37c",
        "type": "http request",
        "z": "1dd7f151915a547d",
        "name": "room-1-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-{{{i}}}/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 920,
        "y": 120,
        "wires": [
            [
                "3d604521ce9c77ba",
                "605417f58238c7b4",
                "7ba09611f22fd1c4"
            ]
        ]
    },
    {
        "id": "660091ee8f6c625b",
        "type": "join",
        "z": "1dd7f151915a547d",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 1410,
        "y": 360,
        "wires": [
            [
                "e970e6caa8154c70"
            ]
        ]
    },
    {
        "id": "e970e6caa8154c70",
        "type": "json",
        "z": "1dd7f151915a547d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1590,
        "y": 360,
        "wires": [
            [
                "a3c92fa5753f4327",
                "3458f824f2e0bc32"
            ]
        ]
    },
    {
        "id": "c594b3a6c033e937",
        "type": "mqtt out",
        "z": "1dd7f151915a547d",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1950,
        "y": 360,
        "wires": []
    },
    {
        "id": "eb91148d30a6a007",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.i\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "1a2f8ebea9222442",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = \"room-\" + msg.i\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "c4e5de5c66bb04b7",
        "type": "http request",
        "z": "1dd7f151915a547d",
        "name": "room-1-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-{{{i}}}/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 920,
        "y": 600,
        "wires": [
            [
                "18a93cce34376b10",
                "7d651d8e3d0472a4",
                "b108c7ecc50b7bbd",
                "2cc84e41316365c3"
            ]
        ]
    },
    {
        "id": "18a93cce34376b10",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "7d651d8e3d0472a4",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "b108c7ecc50b7bbd",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 680,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "7ba09611f22fd1c4",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "2cc84e41316365c3",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.status\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "605417f58238c7b4",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.sockets\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 120,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "3d604521ce9c77ba",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "660091ee8f6c625b"
            ]
        ]
    },
    {
        "id": "859b90ee91177e65",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "i = 1",
        "func": "msg.i = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 320,
        "wires": [
            [
                "e9f1717905ce43ff"
            ]
        ]
    },
    {
        "id": "e9f1717905ce43ff",
        "type": "switch",
        "z": "1dd7f151915a547d",
        "name": "i < 6",
        "property": "i",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "b07288c1fb3ce37c",
                "eb91148d30a6a007",
                "1a2f8ebea9222442",
                "c4e5de5c66bb04b7"
            ],
            [
                "2b32843f1f00ad26"
            ]
        ]
    },
    {
        "id": "2b32843f1f00ad26",
        "type": "template",
        "z": "1dd7f151915a547d",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "msg.payload = \"Loop Done\";",
        "output": "str",
        "x": 460,
        "y": 480,
        "wires": [
            [
                "82b61513df604710"
            ]
        ]
    },
    {
        "id": "a3c92fa5753f4327",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.i = msg.i + 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 180,
        "wires": [
            [
                "e9f1717905ce43ff"
            ]
        ]
    },
    {
        "id": "82b61513df604710",
        "type": "debug",
        "z": "1dd7f151915a547d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "3458f824f2e0bc32",
        "type": "function",
        "z": "1dd7f151915a547d",
        "name": "",
        "func": "msg.topic = \"home/sensors/room\"+msg.i\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 360,
        "wires": [
            [
                "c594b3a6c033e937"
            ]
        ]
    },
    {
        "id": "c7497760547ae6d2",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Message sent\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 240,
        "wires": []
    },
    {
        "id": "c1e50d9228403761",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1540,
        "y": 160,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "ae95f3a966d3eac1",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Error while sending message\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1840,
        "y": 400,
        "wires": []
    },
    {
        "id": "2fe462ebc3a1e7fd",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "home/actuators/room2",
        "qos": "0",
        "datatype": "json",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 240,
        "wires": [
            [
                "78d1627193db73c6"
            ]
        ]
    },
    {
        "id": "787990a3205f9814",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "Set myself",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nif(msg.payload.parameter === \"status\"){\n    msg.url = \"http://web:8000/home/sensors/room-1/status\";\n} else if (msg.payload.parameter === \"batteryOutput\") {\n    msg.url = \"http://web:8000/home/sensors/room-1/battery/setBatteryOutput\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "601d2597142944f4"
            ]
        ]
    },
    {
        "id": "601d2597142944f4",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1270,
        "y": 160,
        "wires": [
            [
                "c1e50d9228403761"
            ]
        ]
    },
    {
        "id": "55eb7ec1f33fd95f",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "home/actuators/room1",
        "qos": "0",
        "datatype": "json",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 160,
        "wires": [
            [
                "787990a3205f9814"
            ]
        ]
    },
    {
        "id": "0daec4adc434d3b3",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "home/actuators/room3",
        "qos": "0",
        "datatype": "json",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "3e9f147786ea0c4c"
            ]
        ]
    },
    {
        "id": "0c3ac94d7e968fcc",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "home/actuators/room4",
        "qos": "0",
        "datatype": "json",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "c8548b1c8b5aa022"
            ]
        ]
    },
    {
        "id": "2a3c2e9fddec2f20",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "home/actuators/room5",
        "qos": "0",
        "datatype": "json",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 480,
        "wires": [
            [
                "51fb6b01d6df0930"
            ]
        ]
    },
    {
        "id": "78d1627193db73c6",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "Set myself",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nif(msg.payload.parameter === \"status\"){\n    msg.url = \"http://web:8000/home/sensors/room-2/status\";\n} else if (msg.payload.parameter === \"batteryOutput\") {\n    msg.url = \"http://web:8000/home/sensors/room-2/battery/setBatteryOutput\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "cfe7878c5ef120e9"
            ]
        ]
    },
    {
        "id": "3e9f147786ea0c4c",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "Set myself",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nif(msg.payload.parameter === \"status\"){\n    msg.url = \"http://web:8000/home/sensors/room-3/status\";\n} else if (msg.payload.parameter === \"batteryOutput\") {\n    msg.url = \"http://web:8000/home/sensors/room-3/battery/setBatteryOutput\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "56e10167d2f024e7"
            ]
        ]
    },
    {
        "id": "c8548b1c8b5aa022",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "Set myself",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nif(msg.payload.parameter === \"status\"){\n    msg.url = \"http://web:8000/home/sensors/room-4/status\";\n} else if (msg.payload.parameter === \"batteryOutput\") {\n    msg.url = \"http://web:8000/home/sensors/room-4/battery/setBatteryOutput\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "97bd677abea4c9af"
            ]
        ]
    },
    {
        "id": "51fb6b01d6df0930",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "Set myself",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.headers[\"content-type\"] = \"application/json\"\n\nif(msg.payload.parameter === \"status\"){\n    msg.url = \"http://web:8000/home/sensors/room-5/status\";\n} else if (msg.payload.parameter === \"batteryOutput\") {\n    msg.url = \"http://web:8000/home/sensors/room-5/battery/setBatteryOutput\";\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "7bb7c9d2add2fc10"
            ]
        ]
    },
    {
        "id": "cfe7878c5ef120e9",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "edb38ad71416ff45"
            ]
        ]
    },
    {
        "id": "56e10167d2f024e7",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1270,
        "y": 320,
        "wires": [
            [
                "833ce1c9b0c18642"
            ]
        ]
    },
    {
        "id": "97bd677abea4c9af",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1270,
        "y": 400,
        "wires": [
            [
                "93ec9effba044314"
            ]
        ]
    },
    {
        "id": "7bb7c9d2add2fc10",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1270,
        "y": 480,
        "wires": [
            [
                "d757e0e22496aae6"
            ]
        ]
    },
    {
        "id": "edb38ad71416ff45",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1540,
        "y": 240,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "833ce1c9b0c18642",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1540,
        "y": 320,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "93ec9effba044314",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1540,
        "y": 400,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "d757e0e22496aae6",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1540,
        "y": 480,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "655dc8c8e6c0e5a6",
        "type": "inject",
        "z": "2e6ec7d666e24030",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "9927df5fe905e206",
                "f89a3bfc18583446",
                "03ef978dae9b36cb",
                "f30a872a7826518a"
            ]
        ]
    },
    {
        "id": "8e1ef03368eb65f5",
        "type": "json",
        "z": "2e6ec7d666e24030",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "534cd0685932a243"
            ]
        ]
    },
    {
        "id": "0d833b9751bca0d4",
        "type": "join",
        "z": "2e6ec7d666e24030",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "8e1ef03368eb65f5"
            ]
        ]
    },
    {
        "id": "534cd0685932a243",
        "type": "mqtt out",
        "z": "2e6ec7d666e24030",
        "name": "",
        "topic": "home/sensors/room0",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "f89a3bfc18583446",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = 0\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "03ef978dae9b36cb",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = \"room-0\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "f30a872a7826518a",
        "type": "http request",
        "z": "2e6ec7d666e24030",
        "name": "room-0-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 500,
        "wires": [
            [
                "295f07a2dc8ec683",
                "10292522de3c2f57",
                "db95a423b100d26c",
                "26fe6df107d59082",
                "13fc95cdfc5feaee"
            ]
        ]
    },
    {
        "id": "295f07a2dc8ec683",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "10292522de3c2f57",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "db95a423b100d26c",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "9927df5fe905e206",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = null\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "13fc95cdfc5feaee",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.status\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "26fe6df107d59082",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.energyDemand\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    }
]