monitoring/node-red-data/.flows.json.backup
[
    {
        "id": "5765d2042467176e",
        "type": "tab",
        "label": "Tomato-Cultivation-Actuators",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b36f7b70e4913aeb",
        "type": "tab",
        "label": "room-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4d6ea87134e4adb6",
        "type": "tab",
        "label": "room-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4de722645afa96cc",
        "type": "tab",
        "label": "room-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2566bd04b1530eee",
        "type": "tab",
        "label": "room-4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ba0c76d3615074a6",
        "type": "tab",
        "label": "room-5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e6ec7d666e24030",
        "type": "tab",
        "label": "room-0",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8a45ccd334f47670",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mqtt://mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cf21937e15f701cf",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] SetHeating",
        "func": "console.log(\"Read on topic: \" + msg.payload)\n\nmsg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/temperature/setHeating\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\nheatingOn = false\nif (msg.payload == 1) heatingOn = true\n\nmsg.payload = {\n    \"heatingOn\": heatingOn\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 180,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "ac8cbb3e6c7e5faf",
        "type": "http request",
        "z": "5765d2042467176e",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1530,
        "y": 440,
        "wires": [
            [
                "c1e50d9228403761"
            ]
        ]
    },
    {
        "id": "c7497760547ae6d2",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Message sent\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 400,
        "wires": []
    },
    {
        "id": "c1e50d9228403761",
        "type": "switch",
        "z": "5765d2042467176e",
        "name": "CheckResponseStatus",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "204",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "204",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1780,
        "y": 440,
        "wires": [
            [
                "c7497760547ae6d2"
            ],
            [
                "ae95f3a966d3eac1"
            ]
        ]
    },
    {
        "id": "ae95f3a966d3eac1",
        "type": "debug",
        "z": "5765d2042467176e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "\"Error while sending message\"",
        "targetType": "jsonata",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 480,
        "wires": []
    },
    {
        "id": "b6fca46eb614f77a",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] SetLight",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/luminosity/setLights\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\nlightsOn = false\nif (msg.payload > 50) lightsOn = true\n\nmsg.payload = {\n    \"lightsON\": lightsOn\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 280,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "80dd0c0fd04315db",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Sprinkler",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/soilHumidity/setSprinkler\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nif (msg.payload == 1) sprinklerStatus = true\nelse sprinklerStatus = false\n\nmsg.payload = {\n    \"sprinkler\": 3,\n    \"sprinklerON\": sprinklerStatus\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 500,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "bccd87d7833dfd86",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Fan",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/co2/setFan\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\nfanOn = false\nif (msg.payload == 1) fanOn = true\n\nmsg.payload = {\n    \"fan\": 1,\n    \"fanON\": fanOn\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 600,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "2fe462ebc3a1e7fd",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat1/temperature/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "cf21937e15f701cf"
            ]
        ]
    },
    {
        "id": "7b864f8f111e8288",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-thermostat/thermostat2/temperature/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "cf21937e15f701cf"
            ]
        ]
    },
    {
        "id": "bc06730328dcf1d0",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-light/light/luminosity/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 280,
        "wires": [
            [
                "b6fca46eb614f77a"
            ]
        ]
    },
    {
        "id": "53400a4dbf8f2aec",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler1/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 380,
        "wires": [
            [
                "bbae81f2473f9366"
            ]
        ]
    },
    {
        "id": "89a91a8a3ce3458e",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler2/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 440,
        "wires": [
            [
                "721a5a878f46c7ef"
            ]
        ],
        "outputLabels": [
            "oo"
        ]
    },
    {
        "id": "561d21c568c6bc9a",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-sprinkler/sprinkler3/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 500,
        "wires": [
            [
                "80dd0c0fd04315db"
            ]
        ]
    },
    {
        "id": "fe41db205e22469e",
        "type": "mqtt in",
        "z": "5765d2042467176e",
        "name": "",
        "topic": "greenhouse/tomato-cultivation-fan/fan/power/set",
        "qos": "0",
        "datatype": "auto",
        "broker": "8a45ccd334f47670",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 600,
        "wires": [
            [
                "bccd87d7833dfd86"
            ]
        ]
    },
    {
        "id": "bbae81f2473f9366",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Sprinkler",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/soilHumidity/setSprinkler\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nif (msg.payload == 1) sprinklerStatus = true\nelse sprinklerStatus = false\n\nmsg.payload = {\n    \"sprinkler\": 1,\n    \"sprinklerON\": sprinklerStatus\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "721a5a878f46c7ef",
        "type": "function",
        "z": "5765d2042467176e",
        "name": "[HTTP POST SETTING] Sprinkler",
        "func": "msg.headers = {}\nmsg.method = \"POST\"\nmsg.url = \"http://web:8000/greenhouse/tomato-cultivation/soilHumidity/setSprinkler\";\nmsg.headers[\"content-type\"] = \"application/json\"\n\n\nif (msg.payload == 1) sprinklerStatus = true\nelse sprinklerStatus = false\n\nmsg.payload = {\n    \"sprinkler\": 2,\n    \"sprinklerON\": sprinklerStatus\n};\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "ac8cbb3e6c7e5faf"
            ]
        ]
    },
    {
        "id": "5de7b5b0bb738a01",
        "type": "inject",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 70,
        "y": 480,
        "wires": [
            [
                "e3d0ed828d27d381",
                "50e78db6af651860",
                "8e3edd988091735f",
                "614cef6ecc25f4bc",
                "a47feedeee6e4c2b",
                "5c2cd860838da005",
                "3613e78f3113a4b3"
            ]
        ]
    },
    {
        "id": "e3d0ed828d27d381",
        "type": "http request",
        "z": "b36f7b70e4913aeb",
        "name": "room-1-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-1/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "05ee707dcf7559f8"
            ]
        ]
    },
    {
        "id": "05ee707dcf7559f8",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "16ed192a12e441fe",
        "type": "join",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 790,
        "y": 480,
        "wires": [
            [
                "89ca77f71fdd9f94"
            ]
        ]
    },
    {
        "id": "89ca77f71fdd9f94",
        "type": "json",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 910,
        "y": 480,
        "wires": [
            [
                "8026b63e1a898482"
            ]
        ]
    },
    {
        "id": "8026b63e1a898482",
        "type": "mqtt out",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "topic": "home/sensors/room1",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1100,
        "y": 480,
        "wires": []
    },
    {
        "id": "50e78db6af651860",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 400,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "8e3edd988091735f",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = \"room-1\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "614cef6ecc25f4bc",
        "type": "http request",
        "z": "b36f7b70e4913aeb",
        "name": "room-1-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-1/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "a890097867db9058",
                "a879cf1a835dc8a7",
                "2e9866aaa5e5bb35"
            ]
        ]
    },
    {
        "id": "a890097867db9058",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 640,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "a879cf1a835dc8a7",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 720,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "2e9866aaa5e5bb35",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 800,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "a47feedeee6e4c2b",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "5c2cd860838da005",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = 20\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "3613e78f3113a4b3",
        "type": "function",
        "z": "b36f7b70e4913aeb",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 480,
        "wires": [
            [
                "16ed192a12e441fe"
            ]
        ]
    },
    {
        "id": "8f781c7d91902ff9",
        "type": "inject",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "793e1897b3b800de",
                "b91d89e0923f5395",
                "50e11ceefff40109",
                "4ac6510b8bce1377",
                "a2e866d3605e8ab7",
                "54702aeba5b57d1d",
                "21f0a3190d78551b"
            ]
        ]
    },
    {
        "id": "253bb22a54cc2ed6",
        "type": "mqtt out",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "topic": "home/sensors/room2",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "793e1897b3b800de",
        "type": "http request",
        "z": "4d6ea87134e4adb6",
        "name": "room-2-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-2/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 100,
        "wires": [
            [
                "a20082b96dbc4a2e"
            ]
        ]
    },
    {
        "id": "a20082b96dbc4a2e",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "41320a64d4bcb80f",
        "type": "join",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "bb2f24c6964cde05"
            ]
        ]
    },
    {
        "id": "bb2f24c6964cde05",
        "type": "json",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 950,
        "y": 420,
        "wires": [
            [
                "253bb22a54cc2ed6"
            ]
        ]
    },
    {
        "id": "a2e866d3605e8ab7",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = 2\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 340,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "54702aeba5b57d1d",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = \"room-2\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "b91d89e0923f5395",
        "type": "http request",
        "z": "4d6ea87134e4adb6",
        "name": "room-2-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-2/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "62b6a34bc4bcce0d",
                "924524d2d440809f",
                "cbd69aea3fa482eb"
            ]
        ]
    },
    {
        "id": "62b6a34bc4bcce0d",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 580,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "924524d2d440809f",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "cbd69aea3fa482eb",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 740,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "4ac6510b8bce1377",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "50e11ceefff40109",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = 25\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "21f0a3190d78551b",
        "type": "function",
        "z": "4d6ea87134e4adb6",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "41320a64d4bcb80f"
            ]
        ]
    },
    {
        "id": "86c688c500cd0366",
        "type": "inject",
        "z": "4de722645afa96cc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 500,
        "wires": [
            [
                "6ee60554152e34ff",
                "db567ac5db1406f6",
                "d725f296e1beed09",
                "1340fed289b6be1e",
                "ca8e02343261c2e0",
                "68e723dc7fb5afdf",
                "53fc3b933e490e38"
            ]
        ]
    },
    {
        "id": "beb958da645a8af8",
        "type": "join",
        "z": "4de722645afa96cc",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "135da21667f43d59"
            ]
        ]
    },
    {
        "id": "135da21667f43d59",
        "type": "json",
        "z": "4de722645afa96cc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "111f058bd694e0d4"
            ]
        ]
    },
    {
        "id": "111f058bd694e0d4",
        "type": "mqtt out",
        "z": "4de722645afa96cc",
        "name": "",
        "topic": "home/sensors/room3",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "6ee60554152e34ff",
        "type": "http request",
        "z": "4de722645afa96cc",
        "name": "room-3-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-3/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 420,
        "y": 180,
        "wires": [
            [
                "1f1a4fbfdd0aa434"
            ]
        ]
    },
    {
        "id": "1f1a4fbfdd0aa434",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "ca8e02343261c2e0",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = 3\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 420,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "53fc3b933e490e38",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = \"room-3\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "db567ac5db1406f6",
        "type": "http request",
        "z": "4de722645afa96cc",
        "name": "room-3-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-3/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "b7d913a46804814a",
                "365da3b087c8a5d6",
                "5e7b89b13641d6a0"
            ]
        ]
    },
    {
        "id": "b7d913a46804814a",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 660,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "365da3b087c8a5d6",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 740,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "5e7b89b13641d6a0",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 820,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "1340fed289b6be1e",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "d725f296e1beed09",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = 40\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "68e723dc7fb5afdf",
        "type": "function",
        "z": "4de722645afa96cc",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 500,
        "wires": [
            [
                "beb958da645a8af8"
            ]
        ]
    },
    {
        "id": "34d7899d309b46f0",
        "type": "inject",
        "z": "2566bd04b1530eee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 70,
        "y": 440,
        "wires": [
            [
                "e1bb580166fc6607",
                "fde725d01428c60f",
                "e08e82f694e47048",
                "b96929df6ad1ef8d",
                "126a8486bfadd025",
                "99281cb5edbb1d9c",
                "ece44a80e54cc1f3"
            ]
        ]
    },
    {
        "id": "466a68b7d05a6f8f",
        "type": "join",
        "z": "2566bd04b1530eee",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 690,
        "y": 440,
        "wires": [
            [
                "1d05ce178082e649"
            ]
        ]
    },
    {
        "id": "1d05ce178082e649",
        "type": "json",
        "z": "2566bd04b1530eee",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "1d971abb4bd83019"
            ]
        ]
    },
    {
        "id": "1d971abb4bd83019",
        "type": "mqtt out",
        "z": "2566bd04b1530eee",
        "name": "",
        "topic": "home/sensors/room4",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "e1bb580166fc6607",
        "type": "http request",
        "z": "2566bd04b1530eee",
        "name": "room-4-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-4/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "e6b50784be58d926"
            ]
        ]
    },
    {
        "id": "e6b50784be58d926",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "99281cb5edbb1d9c",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = 4\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 360,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "b96929df6ad1ef8d",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = \"room-4\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 520,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "fde725d01428c60f",
        "type": "http request",
        "z": "2566bd04b1530eee",
        "name": "room-4-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-4/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 680,
        "wires": [
            [
                "053cad078c3252c4",
                "4e8350206168c05e",
                "590cc535cc0751d1"
            ]
        ]
    },
    {
        "id": "053cad078c3252c4",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 600,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "4e8350206168c05e",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 680,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "590cc535cc0751d1",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 760,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "ece44a80e54cc1f3",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "e08e82f694e47048",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = 8\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "126a8486bfadd025",
        "type": "function",
        "z": "2566bd04b1530eee",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 440,
        "wires": [
            [
                "466a68b7d05a6f8f"
            ]
        ]
    },
    {
        "id": "7414994ff8d4b03d",
        "type": "inject",
        "z": "ba0c76d3615074a6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 70,
        "y": 420,
        "wires": [
            [
                "df9730f2667c64cd",
                "f8af56ade312c76b",
                "2c3dffba55ce9cbc",
                "735b932062d1b4c7",
                "6dccc5a58ca3c86f",
                "baddb38e8fb5dd78",
                "2eec5438b15376a4"
            ]
        ]
    },
    {
        "id": "d6e418d5045f87e8",
        "type": "json",
        "z": "ba0c76d3615074a6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "df68e0542c396a37"
            ]
        ]
    },
    {
        "id": "b5af744a5369f84b",
        "type": "join",
        "z": "ba0c76d3615074a6",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "d6e418d5045f87e8"
            ]
        ]
    },
    {
        "id": "df68e0542c396a37",
        "type": "mqtt out",
        "z": "ba0c76d3615074a6",
        "name": "",
        "topic": "home/sensors/room5",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1080,
        "y": 420,
        "wires": []
    },
    {
        "id": "df9730f2667c64cd",
        "type": "http request",
        "z": "ba0c76d3615074a6",
        "name": "room-5-energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-5/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "062e86814ff32f29"
            ]
        ]
    },
    {
        "id": "062e86814ff32f29",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = msg.payload.data\nmsg.topic = \"energyDemand\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "735b932062d1b4c7",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = 5\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "baddb38e8fb5dd78",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = \"room-5\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "2eec5438b15376a4",
        "type": "http request",
        "z": "ba0c76d3615074a6",
        "name": "room-5-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/room-5/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 280,
        "y": 660,
        "wires": [
            [
                "2f1542f0b13ca509",
                "ba4e52d35490c8a0",
                "3686f9f73166d02f"
            ]
        ]
    },
    {
        "id": "2f1542f0b13ca509",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 580,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "ba4e52d35490c8a0",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 660,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "3686f9f73166d02f",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 740,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "2c3dffba55ce9cbc",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "f8af56ade312c76b",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = 68\nmsg.topic = \"sockets\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "6dccc5a58ca3c86f",
        "type": "function",
        "z": "ba0c76d3615074a6",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "b5af744a5369f84b"
            ]
        ]
    },
    {
        "id": "655dc8c8e6c0e5a6",
        "type": "inject",
        "z": "2e6ec7d666e24030",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "9927df5fe905e206",
                "f89a3bfc18583446",
                "13fc95cdfc5feaee",
                "03ef978dae9b36cb",
                "f30a872a7826518a"
            ]
        ]
    },
    {
        "id": "8e1ef03368eb65f5",
        "type": "json",
        "z": "2e6ec7d666e24030",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "534cd0685932a243"
            ]
        ]
    },
    {
        "id": "0d833b9751bca0d4",
        "type": "join",
        "z": "2e6ec7d666e24030",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 810,
        "y": 300,
        "wires": [
            [
                "8e1ef03368eb65f5"
            ]
        ]
    },
    {
        "id": "534cd0685932a243",
        "type": "mqtt out",
        "z": "2e6ec7d666e24030",
        "name": "",
        "topic": "home/sensors/room5",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8a45ccd334f47670",
        "x": 1180,
        "y": 300,
        "wires": []
    },
    {
        "id": "f89a3bfc18583446",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = 0\nmsg.topic = \"roomId\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 140,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "03ef978dae9b36cb",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = \"room-0\"\nmsg.topic = \"roomName\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "f30a872a7826518a",
        "type": "http request",
        "z": "2e6ec7d666e24030",
        "name": "room-0-battery",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://web:8000/home/sensors/grid/battery",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "295f07a2dc8ec683",
                "10292522de3c2f57",
                "db95a423b100d26c"
            ]
        ]
    },
    {
        "id": "295f07a2dc8ec683",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.level\nmsg.topic = \"batteryLevel\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 380,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "10292522de3c2f57",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.output\nmsg.topic = \"batteryOutput\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "db95a423b100d26c",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = msg.payload.input\nmsg.topic = \"batteryInput\"\nmsg.complete = \"YES\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "9927df5fe905e206",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = 100\nmsg.topic = \"batteryCapacity\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    },
    {
        "id": "13fc95cdfc5feaee",
        "type": "function",
        "z": "2e6ec7d666e24030",
        "name": "",
        "func": "msg.payload = 1\nmsg.topic = \"status\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "0d833b9751bca0d4"
            ]
        ]
    }
]